<div class="container mt-5">
  <h2 class="mb-4">Add a flat</h2>
  <%= form_with model: @flat, local: true, class: "needs-validation" do |r| %>
    <div class="form-group">
      <%= r.label :name, class: "form-label" %>
      <%= r.text_field :name, class: "form-control", placeholder: "Nom de l'appartement" %>
    </div>
    <div class="form-group">
      <%= r.label :address, class: "form-label" %>
      <%= r.text_field :address, class: "form-control", placeholder: "Adresse" %>
    </div>
    <div class="form-group">
      <%= r.label :description, class: "form-label" %>
      <%= r.text_field :description, class: "form-control", placeholder: "Description" %>
    </div>
    <div class="form-group">
      <%= r.label :price_per_night, class: "form-label" %>
      <%= r.number_field :price_per_night, class: "form-control", placeholder: "Prix par nuit" %>
    </div>
    <div class="form-group">
      <%= r.label :number_of_guests, class: "form-label" %>
      <%= r.number_field :number_of_guests, class: "form-control", placeholder: "Nombre de personnes" %>
    </div>
    <div class="form-group">
      <%= r.label :style, class: "form-label" %>
      <%= r.text_field :style, class: "form-control", placeholder: "Style de l'appartement" %>
    </div>
    <%= r.submit "Créer", class: "btn btn-primary mt-3" %>
  <% end %>
</div>
